

MONGODB_URI=Your UrI
PORT=8000
FRONTED_ORIGIN=http://localhost:5173



ACCESS_TOKEN_SECRET="ACCESS_TOKEN_SECRET"

REFRESH_TOKEN_SECRET="REFRESH_TOKEN_SECRET"


ACCESS_TOKEN_EXPIRY="30m"
REFRESH_TOKEN_EXPIRY="7d"



RAZORPAY_KEY_ID=Your Razorpay Key Id
RAZORPAY_KEY_SECRET=Your Razorpay key scret 
